* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  color: #555;
}

.container {
  margin: 3.2rem;
  background-color: lightblue;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
}

.client-demographics {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.profile-pic {
  grid-area: 1 / 1 / 5 / 2;
}
.client-name {
  grid-area: 1 / 2 / 2 / 3;
}
.account-dob {
  grid-area: 1 / 3 / 2 / 4;
}
.account-number {
  grid-area: 1 / 4 / 2 / 5;
}
.client-alerts {
  grid-area: 1 / 5 / 2 / 6;
}
.client-sex {
  grid-area: 2 / 2 / 3 / 3;
}
.client-height {
  grid-area: 2 / 3 / 3 / 4;
}
.client-weight {
  grid-area: 2 / 4 / 3 / 5;
}
.client-phone1 {
  grid-area: 3 / 2 / 4 / 3;
}
.client-phone2 {
  grid-area: 3 / 3 / 4 / 4;
}
.client-email {
  grid-area: 3 / 4 / 4 / 5;
}
.client-address {
  grid-area: 4 / 2 / 5 / 3;
}
.client-city {
  grid-area: 4 / 3 / 5 / 4;
}
.client-state {
  grid-area: 4 / 4 / 5 / 5;
}
.client-zip-code {
  grid-area: 4 / 5 / 5 / 6;
}
